@font-face {
  font-family: "Montserrat Regular";
  src: url("../assets/fonts/montserrat/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../assets/fonts/montserrat/Montserrat-Medium.otf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/fonts/montserrat/Montserrat-Bold.otf");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../assets/fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat Medium Italic";
  src: url("../assets/fonts/montserrat/Montserrat-MediumItalic.otf");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url("../assets/fonts/montserrat/Montserrat-Italic.otf");
}

@font-face {
  font-family: "Montserrat Semibold";
  src: url("../assets/fonts/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "Montserrat Semibold Italic";
  src: url("../assets/fonts/montserrat/Montserrat-SemiBoldItalic.otf");
}

@font-face {
  font-family: "LibreBaskerville Bold";
  src: url("../assets/fonts/libre-baskerville/LibreBaskerville-Bold.otf");
}

@font-face {
  font-family: "LibreBaskerville Italic";
  src: url("../assets/fonts/libre-baskerville/LibreBaskerville-Italic.otf");
}

@font-face {
  font-family: "LibreBaskerville Regular";
  src: url("../assets/fonts/libre-baskerville/LibreBaskerville-Regular.otf");
}
