// Theme Colors
$black: #000;
$white: #fff;
$red: #c53839;
$brown: #833603;
$brown-moca: #816147;
$orange: #bf923d;
$footer-bg-color: #222a2a;
$white-off: #f9f0e2;
$white-off-2: #fffff5;
$yelp-icon: #cccccc;

// Element Sizes
$container-max-width: 1170px;

// Font Family
$libreRegular: "LibreBaskerville Regular";
$libreBold: "LibreBaskerville Bold";
$libreItalic: "LibreBaskerville Italic";
$libreMedItalic: "LibreBaskerville Medium Italic";
$libreItalic: "LibreBaskerville Italic";
$montserratBold: "Montserrat Bold";
$montserratRegular: "Montserrat Regular";
$montserratSemiBold: "Montserrat Semibold";
$montserratSemiBoldItalic: "Montserrat Semibold Italic";
$montserratItalic: "Montserrat Italic";
$montserratLight: "Montserrat Light";
